$primary: #506e4b;
$secondary: #8f5325;
$success: #13aa34;
$info: #7854e4;
$warning: #b8c924;
$danger: #d62518;
$light: #f8f9fa;
$dark: #343a40;

$theme-colors: (
	primary: $primary,
	secondary: $secondary,
	success: $success,
	info: $info,
	warning: $warning,
	danger: $danger,
	light: $light,
	dark: $dark
);

@import "/node_modules/bootstrap/scss/bootstrap.scss";

html {
	overflow: hidden;
}
body {
	overflow: hidden;
	scrollbar-color: #888 transparent;
	display: flex;
	height: 100vh;
}

.supabase-auth-ui_ui-container input {
	color: #ccc;
}

.cs .textarea,
.cs .rich-text,
.cs .form-control {
	padding: 0 0.2rem;
	border: unset;
	border: var(--bs-border-width) solid var(--bs-border-color);
	border-radius: 0;
	scrollbar-width: thin;
	background-color: var(--bs-body-bg);
}

.cs textarea.form-control {
	min-height: unset;
	resize: none;
}

.cs-text {
	scrollbar-width: thin;
	overflow-y: auto;
	overflow-x: hidden;
	word-wrap: anywhere;
}

.cs-item {
	border-color: hsl(210, 11%, 60%);
	border-style: solid;
	border-width: 0;
}

#viewer {
	overflow: hidden;
	position: relative;
	border: 1px solid var(--bs-border-color);
}

#content {
	position: absolute;
	transform-origin: 0 0;
	width: 1060px;
	height: 1410px;
	padding: 5px;

	> div {
		padding: 1rem;
		color: $dark;
	}
}

.scrollbar-y {
	position: absolute;
	margin: 1px;
	width: 8px;
	right: 0;
	background-color: #888;
	opacity: 0.5;
	border-radius: 4px;
	transition: opacity 0.2s linear;
}

.scrollbar-x {
	position: absolute;
	margin: 1px;
	height: 8px;
	bottom: 0;
	background-color: #888;
	opacity: 0.5;
	border-radius: 4px;
	transition: opacity 0.2s linear;
}

.icon-button {
	padding: 0;
	margin: 0;

	svg {
		display: block;
	}
}

.cs .tiptap {
	border: none;
	outline: none;

	p {
		margin: 0;
	}
}

.cs .rich-text {
	display: flex;
	flex: 1;

	> div {
		display: flex;
		flex: 1;
	}

	.tiptap {
		flex: 1;
	}
}

.flex-1 {
	flex: 1 !important;
}

.small-scrollbars {
	scrollbar-width: thin;
}

.cs .form-control:focus {
	box-shadow: none;
	border-color: var(--bs-tertiary-color);
}

.cs .mode-layout {
	.content-box:hover {
		box-shadow: #0005 0px 0px 7px 0px;
	}

	.content-box * {
		pointer-events: none;
		user-select: none;
	}

	.placeholder-box {
		background: repeating-linear-gradient(45deg, #0001, #0001 2%, #0000 2%, #0000 4%);
		background-clip: padding-box;
		border: 1px solid #0001;
	}

	.layout-button {
		pointer-events: all;
		z-index: 200;
		padding: 0;
		padding-bottom: 2px;
	}
}

.sidebar .dropend {
	padding-left: 7px;
}

.sidebar .nav-item .text-small {
	padding-left: 0;
	padding-right: 0;
}
.sidebar-submenu {
	position: absolute;
	top: 0;
	left: calc(100% + 1px);
	background-color: var(--bs-body-bg);
	width: 0px;
	overflow: hidden;
	height: calc(100vh - 25px);
	border-right: 1px solid var(--bs-border-color);
	padding-top: 8px;
	color: var(--bs-primary-text-emphasis);
	z-index: 10;
	text-align: center;
	margin: 0;
	transition: width 0.1s linear;

	&.open {
		width: 85px;
		box-shadow: 2px 0 5px 0 rgba(0, 0, 0, 0.4);
	}
}
